body
{
font-family:Verdana;
color:#aaaaaa;
background-color:#000000; 
}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menuitem {
  background-color:#000000;
  padding:4px;
  margin-top:2px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
.main {
  float:left;
  width:80%;
  padding:0 20px;
}

.header
{
  height: 150px;
  position: relative;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  z-index:0;
}
.header-unit {
  height: 150px;
  position: relative;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  z-index:0;
}
#video-container {
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index:0;
}
video {
  position:relative;
  z-index:0;
}
video.fillWidth {
  width: 100%;
   position:relative;
  z-index:0;
}
.overlay {
    position:relative;
    
    margin: 0 auto;
    z-index:1;
}


.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.footer
{
  background-color:#ffff;
  text-align:center;padding:10px;
  margin-top:7px;
}

/*for animated button*/
.button{

  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.5);
  position: relative; 
}
.button a{
  color:#ffffff ;
  text-decoration: none;
  display: block;
}
.button span{
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.button:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}
.button:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.sim-button{
  line-height: 30px;
  height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}