body
{
font-family:Verdana;
color:#aaaaaa;
}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menuitem {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
}
.main {
  float:left;
  width:80%;
  padding:0 20px;
}
a
{
  text-decoration: none;
  color:#aaaaaa;
  text-transform: uppercase;
}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}