body
{
font-family:Verdana;
color:#aaaaaa;
background-color:#000000; 
}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menuitem {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
}
.main {
  float:left;
  width:80%;
  padding:0 20px;
}
a
{
  text-decoration: none;
  color:#aaaaaa;
  text-transform: uppercase;
}
.header
{
  height: 150px;
  position: relative;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  z-index:0;
}
.header-unit {
  height: 150px;
  position: relative;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  z-index:0;
}
#video-container {
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index:0;
}
video {
  position:relative;
  z-index:0;
}
video.fillWidth {
  width: 100%;
   position:relative;
  z-index:0;
}
.overlay {
    position:absolute;
    
    top:0;
    left:0;
    z-index:1;
}


.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}